* {
    margin: 0;
    padding: 0;
    outline: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

a:hover {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol,
li,
span {
    margin: 0;
    padding: 0;
}

/* Common css end */
/* ======= Top part start ======= */

#top_part{
  height: 110px;
}
.top_logo{
  line-height: 110px;
}
.top_name h1{
  line-height: 110px;
  color: #063F9A;
  font-family: 'Open Sans';
  font-weight: 800;
  font-size: 32px;
}
.top_db h2{
  color:  #063F9A;
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 14px;
    padding: 10px 0;
}
.top_btn a{
  color: #222;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    line-height: 34px;
    padding: 0 20px;
    color: #ffff;
    background:  #063F9A;
    border: 1px solid  #063F9A;
    margin-left: 15px;
    border-radius: 5px;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -o-transition: all linear .4s;
    -ms-transition: all linear .4s;
}
.top_btn a:hover{
  color: #ffff;
  background:  #4082ee;
  border: 1px solid  #4082ee;
}
.top_icon a{
  color:  #063F9A;
  line-height: 32px;
  font-size: 20px;
  margin-left: 20px;
  transition: all linear .3s;
  -webkit-transition: all linear .2s;
  -moz-transition: all linear .2s;
  -o-transition: all linear .2s;
  -ms-transition: all linear .2s;
}
.top_icon a:hover{
  color:  #4082ee;
}
/* ======= Top part end ======= */

/* ======= Menu part Start ======= */


.main_menu{
  height: 40px;
  background: #063F9A;
  justify-content: center;
}
.main_menu .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  font-family:  'Open Sans';
  line-height: 40px;
  padding: 0 35px;
  position: relative;
  display: block;
  text-align: center;
}
.main_menu .navbar-nav .nav-item{
  position: relative;
  transition: all linear .4s;
  -webkit-transition: all linear .4s;
  -moz-transition: all linear .4s;
  -o-transition: all linear .4s;
  -ms-transition: all linear .4s;
  justify-content: center;
}
.main_menu .navbar-nav .nav-item:hover {
  background: #1959bf;
  color: #fff;
  
}

.main_menu .navbar-nav .nav-item .nav-drop{
  position: absolute;
  left:0;
  background: #1959bf;
  color: #fff;
  width: 200px;
  font-size: 14px;
  font-weight: 700;
  font-family:  'Open Sans';
  line-height: 40px;
  display: block;
  transition: all linear .4s;
  -webkit-transition: all linear .4s;
  -moz-transition: all linear .4s;
  -o-transition: all linear .4s;
  -ms-transition: all linear .4s;
  visibility: hidden;
  opacity: 0;
  z-index: 999;
}
.main_menu .navbar-nav .nav-item:hover .nav-drop{
  visibility: visible;
  opacity: 1;
}
.main_menu .navbar-nav .nav-item:hover .nav-drop .drop-item{
display: block;
}
.main_menu .navbar-nav .nav-item:hover .nav-drop .drop-item:hover{
  background: #84adef;
  color: #fff;
}
.main_menu .navbar-nav .nav-item .nav-drop .drop-item{
position: relative;
}
.main_menu .navbar-nav .nav-item .nav-drop .drop-item .nav-drop-down{
position: absolute;
right: -200px;
top: 0;
background: #1959bf;
color: #fff;
width: 200px;
font-size: 14px;
font-weight: 700;
font-family:  'Open Sans';
line-height: 40px;
display: block;
transition: all linear .4s;
-webkit-transition: all linear .4s;
-moz-transition: all linear .4s;
-o-transition: all linear .4s;
-ms-transition: all linear .4s;
visibility: hidden;
  opacity: 0;
z-index: 999;
}
.main_menu .navbar-nav .nav-item .nav-drop .drop-item:hover .nav-drop-down{
visibility: visible;
  opacity: 1;
}

/* ======= Serch Part start ======= */

.search-container {
  position: relative;
  width: 150px;
  margin-left: 30px;
  /* margin: 20px; */
}

.search-container input[type="text"] {
  width: 100%;
  padding: 0 40px 10px 0; /* Right padding for icon */
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}
.search-container input::placeholder{
  position: absolute;
  left: 15px;
  top: 45%;
  transform: translateY(-50%);
  color: #888;
  font-size: 14px;
  pointer-events: none;
}

.search-container input[type="text"]:focus {
  border-color: #007bff;
}

.search-container .search-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  font-size: 14px;
  pointer-events: none;
}
/* ======= Menu part end ======= */

/* ======= ED and Founder Part start ======= */
#main_part{
  padding-top: 50px;
  padding-bottom: 50px;
}
.ed_part {
  background-color: #fff;
  padding: 10px 0;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0,0,0,0.12);
  margin-bottom: 17px;
}
.ed_part img {
  max-width: 80px;
  height: 100px;
  border-radius: 10px;
  margin-bottom: 1px;
}
.ed_part h5{
  color: #222;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Open Sans';
    width: 100%;
}
.ed_part small{
  color: #222;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Open Sans';
}
.ed_part p{
  color: #222;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans';
    padding: 0 2px;
}
.ed_part p{
  color: #222;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans';
    padding: 0 2px;
}
.booklet-icon {
  font-size: 18px;
  color: #0d6efd;
}


.founder_part {
  /* background-color: #f8f9fa; */
  background-color: #fff;
  padding: 10px 0;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0,0,0,0.12);
}
.founder_part img {
  width: 100%;
  max-width: 80px;
  height: 100px;
  border-radius: 10px;
  margin-bottom: 1px;
}
.founder_part h5{
  color: #222;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Open Sans';
}
.founder_part small{
  color: #222;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Open Sans';
}

/* ======= ED and Founder Part start ======= */
/* ======= Achievement's Photo Part start ======= */

/* Gallery part start */
.gal_full{
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.12);
  border-radius: 12px;
  padding: 20px 10px 10px 10px;
}
/* .gal_btn{
  padding-top: 55px;
} */
/* .gal_banner {
  background: url(../images/gallery-banner.jpg) no-repeat center;
  background-size: cover;
  padding: 30px 0;
  position: relative;
  z-index: 1;
} */
.gal_title{
  background: #fff;
}
.gal_title h6{
  color: #222;
  font-size: 22px;
  font-weight: 700;
  font-family: 'Open Sans';
}
.gal_banner::after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.8); */
  z-index: -1;
}

.gal_img {
  position: relative;
  border-radius: 10px;
  
}.gal_img img {
  border-radius: 10px;
  height: 175px;
}

.gal_img .overly {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  border-radius: 10px;
  background: rgba(26, 25, 25, 0.5);
  transform: scale(0);
  transition: all linear .4s;
  -webkit-transition: all linear .4s;
  -moz-transition: all linear .4s;
  -o-transition: all linear .4s;
  -ms-transition: all linear .4s;
}

.gal_img .overly a {
  color: #fff;
  font-size: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.gal_img:hover .overly {
  transform: scale(1);
  
}

.gal_mar {
  margin-bottom: 10px;
}

.vbox-next {
  right: 32%;
}

.vbox-prev {
  left: 30%;
}

/* Gallery part end */





/* ======= Pro Part Start ======= */
/* .table-row {
  transition: background-color 0.3s ease, filter 0.3s ease;
  cursor: pointer;
}

.table-row:hover {
  filter: brightness(90%);
} */

/* Custom color if Bootstrap doesn't have teal */
/* .bg-teal {
  background-color: #20c997 !important;
}

.text-white {
  color: #fff !important;
} */
.pro_part{
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.12);
  margin-bottom: 10px; 
  border-radius: 12px;
  padding-top: 20px;
}

.pro_head h3{
  font-size: 22px;
  font-weight: 700;
  font-family: 'Open Sans';
  color: #0d6efd;
}
.pro_inner tr td p{
  color: #222;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Open Sans';
  padding-bottom: 5px;
}

/* ======= Pro Part end ======= */

/* ======= CDP Activies Part end ======= */
.cdp_part{
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.12);
  /* margin-bottom: 10px; */
  border-radius: 12px;
  padding-top: 20px;
}

.cdp_head h3{
  font-size: 22px;
  font-weight: 700;
  font-family: 'Open Sans';
  color: #0d6efd;
}
.cdp_inner tr td p{
  color: #222;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Open Sans';
  padding-bottom: 5px;
}
.cdp-mar{
  margin-bottom: 12px;
}
/* ======= CDP Activies Part end ======= */

/* ======= News Part Start ======= */
 .nws_part{
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.12);
  border-radius: 12px;
  padding-top: 20px;
}
.news-table {
  border-radius: 10px;
  overflow: hidden;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08); */
}

.news-table thead {
  background-color: #0d6efd;
  color: #fff;
}
.new_head h3{
  font-size: 22px;
  font-weight: 700;
  font-family: 'Open Sans';
}
.news-table tbody tr {
  transition: background-color 0.3s ease;
}

.news-table tbody tr:hover {
  background-color: #e9f3ff;
  cursor: pointer;
}

.news-title {
  font-weight: 600;
  color: #0d6efd;
}
.news_inner h5{
  /* color: #222; */
  font-size: 18px;
  font-weight: 700;
  font-family: 'Open Sans';
  margin-bottom: 5px;
}
.news_inner p{
  color: #222;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Open Sans';
}
.table-responsive {
  border-radius: 10px;
}
/* .nws_part{
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.09);
}
.new_head tr th {
  background-color: #0d6efd;
  color: white;
}
.new_head tr th h4{
  font-size: 18px;
  font-weight: 700;
  font-family: 'Open Sans';
}
.news_inner tr td h6{
  color: #222;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Open Sans';
  padding-bottom: 5px;
}
.news_inner p{
  color: #222;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Open Sans';
} */
/* ======= News Part end ======= */


/* ======= main_bottom Part start ======= */
#main_bottom{
  padding-bottom: 50px;
}
/* ======= Approach Part Start ======= */
.approach_part{
  background-color: #fff;
  padding: 10px 0;
  box-shadow: 0 2px 10px rgba(0,0,0,0.12);
  border-radius: 12px;
}
.approach_header{
  padding: 20px 0;
  text-align: center;
  color: #222;
  
  
}
.approach_header h4{
  font-size: 22px;
  font-weight: 700;
  font-family: 'Open Sans';
  
}
.approach_inner p{
  text-align: justify;
}
/* ======= Approach Part end ======= */

/* ======= Testimonials Part Start ======= */
.testi_part{
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.12);
  border-radius: 12px;
  padding-top: 30px;
  /* padding: 30px 10px 10px 10px; */
}
.testi_head h2 {
  font-size: 22px;
  font-weight: 700;
  font-family: 'Open Sans';
  text-align: center;
}
.testimonial-slider {
  max-width: 700px;
  margin: auto;
  position: relative;
  overflow: hidden;
  background: white;
  border-radius: 12px;
  /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); */
}
.testimonial-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.testimonial {
  min-width: 100%;
  padding: 40px 30px;
  text-align: center;
}
.testimonial img {
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 3px solid #eee;
}
.testimonial p {
  font-size: 1.1rem;
  color: #222;
  margin: 0 0 20px;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Open Sans';
}
.testimonial h3 {
  margin: 0;
  font-weight: 600;
  color: #333;
  font-size: 19px;
  font-weight: 700;
  font-family: 'Open Sans';
}
.buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  padding-left: 10px;
  padding-right: 10px;
}
.buttons button {
  background: rgba(0,0,0,0.2);
  border: none;
  color: white;
  font-size: 12px;
  font-weight: 700;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 50%;
  transition: background 0.3s;
}
.buttons button:hover {
  background: rgba(0,0,0,0.4);
}
/* .testi_part{
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  border-radius: 12px;
  padding: 30px 10px 10px 10px;
}
.testi_inner {
  padding-bottom: 50px;
  
  position: relative;
  z-index: 1;
}


.testi_head h2 {
  font-size: 18px;
  font-weight: 700;
  font-family: 'Open Sans';
  text-align: center;
}

.testi_text img {
  float: left;
  margin-right: 12px;
}

.testi_text h4 {
  color: #222;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
}

.testi_text h5 {
  color: #222;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
  padding: 5px 0 10px;
}

.testi_text h6 {
  color: #e23e38;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.testi_text h6 i {
  margin-right: 3px;
}

.testi_text p {
  color: #222;
  font-size: 13px;
  font-weight: 400;
  font-family: 'Open Sans';
  line-height: 18px;
  padding-top: 25px;
  letter-spacing: -.2px;
  text-align: justify;
}

.test_slide .slick-dots li button {
  font-size: 0;
  width: 16px;
  height: 16px;
  background: transparent;
  border: 2px solid #222;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 50%;
}

.test_slide .slick-dots {
  position: absolute;
  left: 50%;
  bottom: -48px;
  transform: translateX(-50%);
  display: flex;
}

.test_slide .slick-dots li.slick-active button {
  background: #e23e38;
  border: 2px solid #e23e38;
  width: 20px;
  height: 20px;
} */
/* ======= Testimonials Part end ======= */



/* ======= Publication Part Start ======= */
.pub_part{
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.12);
  border-radius: 12px;
  padding: 30px 10px 10px 10px;
}
.pub_header{
  text-align: center;
}
.pub_header h4{
  font-size: 22px;
  font-weight: 700;
  font-family: 'Open Sans';
  
}
.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.gallery-item img {
  width: 100%;
  height: auto;
  transition: transform 0.4s ease;
  display: block;
}

.gallery-item:hover img {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.4s ease;
  font-size: 1.25rem;
  text-align: center;
  padding: 10px;
}

.gallery-item:hover .overlay {
  opacity: 1;
}
.overlay a{
  font-size: 18px;
  font-weight: 700;
  font-family: 'Open Sans';
  color: #fff;
}
/* ======= Publication Part end ======= */



/* ======= NOtic Part Start ======= */
.notice-board {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.12);
  border-radius: 12px;
  padding: 30px 10px 10px 10px;
    }

    .notice {
      background-color: #e9ecef;
      border-left: 5px solid #0d6efd;
      padding: 15px 20px;
      margin-bottom: 20px;
      border-radius: 8px;
      transition: transform 0.6s, box-shadow 0.6s;
      cursor: pointer;
    }

    .notice:hover {
      color: #ffd700;
      border-left-color: #ffd700;
      transform: translateX(5px);
    }
    .notice:hover .notice-title,
    .notice:hover .notice-date,
    .notice:hover .notic-para{
      color: #ffd700; /* Gold on hover */
    }

    .notic_header{
      text-align: center;
    }
    .notic_header h3{
      font-size: 22px;
      font-weight: 700;
      font-family: 'Open Sans';
    }
    .notice-title {
      font-weight: 600;
      color: #f1f1f1;
      margin-bottom: 5px;
    }

    .notice-date {
      font-size: 0.875rem;
      color: #f1f1f1;
    }
    .notice p{
      color: #f1f1f1;
    }
/* ======= Notic Part end ======= */



/* ======= Programs Part Start ======= */
#pronot_part{
  padding-bottom: 50px;
}
.programs_part {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.12);
  border-radius: 12px;
  padding: 30px 10px 0px 10px;
}
.programs_header h3{
  color: #222;
  font-size: 22px;
  font-weight: 700;
  font-family: 'Open Sans';
}
/* .program-card {
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  min-height: 180px;
}

.program-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  opacity: 0.95;
}

.programs_header h3{
  color: #222;
  font-size: 22px;
  font-weight: 700;
  font-family: 'Open Sans';
}

.bg-blue { background-color: #0d6efd; }
.bg-green { background-color: #198754; }
.bg-orange { background-color: #fd7e14; }
.bg-purple { background-color: #6f42c1; }
.bg-pink { background-color: #d63384; }
.bg-teal { background-color: #20c997; }

.program-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.program-date {
  font-size: 0.875rem;
  opacity: 0.9;
} */
.program-card {
  padding: 20px;
  border-radius: 15px;
  transition: transform 0.3s, box-shadow 0.3s;
  color: #fff;
}

.program-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
  transition: color 0.3s ease;
}

.program-icon i {
  font-size: 28px;
  transition: color 0.3s ease;
}

.program-date {
  margin-top: 12px;
  font-size: 0.95rem;
  color: #f1f1f1;
}

/* Hover effect */
.program-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.program-card:hover .program-title,
.program-card:hover .program-icon i {
  color: #ffd700; /* Gold on hover */
}

/* Custom background colors */
.bg-blue    { background-color: #007bff; }
.bg-green   { background-color: #28a745; }
.bg-orange  { background-color: #fd7e14; }
.bg-purple  { background-color: #6f42c1; }
.bg-pink    { background-color: #e83e8c; }
.bg-teal    { background-color: #20c997; }
/* ======= Programs Part end ======= */

/* ======= footer part start ======= */
#footer_part{
  padding-top: 30px;
  /* background: #222; */
  background: #063F9A;
}

/* footer counter part start */
.footer_header{
  color: #fff;
  text-align: center;
  
}
.footer_header h2{
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  font-family:  'Open Sans';
  text-align: center;
  border-bottom: #999999 solid 2px;
  padding-bottom: 30px;
}
.footer_con{
  padding-top: 40px;
  padding-bottom: 20px;
  /* padding-left: 10px; */
  /* box-shadow: 0 0 3px rgba(0, 0, 0, 0.6); */
} 

.footer_con h2{
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  font-family:  'Open Sans';
  padding-bottom: 5px;
}
.counter-item samp{
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family:  'Open Sans';
}
.counter-item span{
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family:  'Open Sans';
}
/* footer counter part end */

.footer_web{
  padding-left: 10px;
}
.footer_web h6{
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  font-family:  'Open Sans';
  padding-bottom: 10px;
}
.footer_web p{
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family:  'Open Sans';
  display: block;
}
.footer_social h6{
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  font-family:  'Open Sans';
  padding-bottom: 10px;
}
.footer_social a{
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  font-family:  'Open Sans';
  margin-right: 5px;
  /* border: 1px solid  #063F9A; */
  border: 1px solid  #fff;
  padding: 1px 10px;
  transition: all linear .4s;
  -webkit-transition: all linear .4s;
  -moz-transition: all linear .4s;
  -o-transition: all linear .4s;
  -ms-transition: all linear .4s;
  
}
.footer_social a:hover{
  background: #3165b9;
  border: 1px solid  #3165b9;
}
.footer_address h6{
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  font-family:  'Open Sans';
  padding-bottom: 10px;
}
.footer_address p{
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  font-family:  'Open Sans';
  margin-right: 5px;
  padding-bottom: 10px;
}
.con_info h6{
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  font-family:  'Open Sans';
  padding-bottom: 10px;
}
.con_info p{
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  font-family:  'Open Sans';
}
.footer_bottom{
  /* box-shadow: 0 0 3px rgba(0, 0, 0, 0.6); */
  /* background: #222; */
  background: #063F9A;
  
}
.footer_bottom p{
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family:  'Open Sans';
  padding: 10px 0;
}
.footer_bottom span{
  color: #999999;
  font-size: 14px;
  font-weight: 700;
  font-family:  'Open Sans';
  text-align: center;
  padding: 10px 0;
}
.footer_shaptak p{
  text-align: end;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  font-family:  'Open Sans';
  padding: 10px 0;
}.footer_shaptak p{
  text-align: end;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  font-family:  'Open Sans';
  padding: 10px 0;
}
.footer_shaptak span{
  text-align: end;
  color: #999999;
  font-size: 14px;
  font-weight: 700;
  font-family:  'Open Sans';
  padding: 10px 0;
}
/* ======= footer part end ======= */



/* ======= Service Part Start ======= */
.service_header h3{
  font-size: 25px;
  font-weight: 700;
  font-family: 'Open Sans';
}
.service-box {
  border-radius: 12px;
  padding: 30px 20px;
  text-align: center;
  transition: all 0.3s ease;
  color: #fff;
}
.service-box:hover{
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.service-icon {
  font-size: 40px;
  margin-bottom: 15px;
}

.service-title {
  font-size: 20px;
  margin: 10px 0;
  font-weight: 600;
}

.service-desc {
  font-size: 14px;
  color: #f0f0f0;
}

/* Base colors */
.blue { background-color: #0d6efd; }
.green { background-color: #198754; }
.purple { background-color: #6f42c1; }
.yellow { background-color: #ffc107; color: #333; }
.yellow .service-desc { color: #222; }
.red { background-color: #dc3545; }
.indigo { background-color: #6610f2; }

/* Hover effects */
.blue:hover { background-color: #0b5ed7; }
.green:hover { background-color: #157347; }
.purple:hover { background-color: #5b2ea3; }
.yellow:hover { background-color: #e0a800; }
.red:hover { background-color: #bb2d3b; }
.indigo:hover { background-color: #520dc2; }
/* ======= Service Part end ======= */


/* ======= Current Project Part start ======= */
#current_Project_part{
  padding-bottom: 50px;
  padding-top: 50px;
}
.card-custom {
  border: none;
  border-radius: 15px;
  box-shadow: 12px 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
} 
.cproject_header h4{
  font-size: 25px;
  font-weight: 700;
  font-family: 'Open Sans';
}

.card-custom:hover {
  transform: translateY(-5px);
}

.card-img-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 200px;
  object-fit: cover;
}
.cproject-body{
  padding: 20px;
}
.cproject-body h5{
  font-size: 20px;
  font-weight: 500;
  font-family: 'Open Sans';
  padding-bottom: 10px;
}
.cproject-body p{
  font-size: 14px;
  font-weight: 500;
  font-family: 'Open Sans';
  padding-bottom: 10px;
}
/* Current Project pagination start */
.pagination {
  text-align: center;
  margin-top: 40px;
}

.pagination a {
  display: inline-block;
  padding: 8px 14px;
  margin: 0 5px;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.2s;
}

.pagination a:hover {
  background-color: #007bff;
  color: white;
}

.pagination a.active {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

@media (max-width: 768px) {
  .card {
    width: 90%;
  }
}
/* Current Project pagination end */
/* ======= Current Project Part end ======= */


/* ======= Devlopment Partners Part end ======= */
.partner-card {
  background: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 12px;
  padding: 30px 20px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  height: 100%;
  transition: transform 0.6s ease;
}

.partner-card:hover {
  transform: translateY(-5px);
}
.devpart_header h2{
  font-size: 25px;
  font-weight: 700;
  font-family: 'Open Sans';
}
.partner-logo {
  max-width: 100px;
  height: auto;
  margin-bottom: 15px;
}

.partner-name {
  font-weight: 600;
  margin-bottom: 8px;
}

.partner-desc {
  font-size: 0.9rem;
  color: #6c757d;
}
/* ======= Devlopment Partners Part end ======= */

/* ======= Solidanty Partners Part end ======= */
/* Solidanty Partners part start */
.solidarity-card {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  height: 100%;
  transition: all 0.4s ease-in-out;
}

.solidarity-card:hover {
  transform: translateY(-5px);
}

.solidanty_partners_part h2{
  font-size: 25px;
  font-weight: 700;
  font-family: 'Open Sans';
}
.solidarity-logo {
  max-width: 100px;
  margin-bottom: 15px;
  height: auto;
}

.partner-name {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.partner-message {
  font-size: 0.9rem;
  color: #666;
}
/* Solidanty Partners part end */
/* ======= Solidanty Partners Part end ======= */

/* ======= network Partners Part end ======= */
.partner-logo {
  background: #fff;
  border-radius: 12px;
  margin: 50px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
  text-align: center;
}
.network_partners_header h2{
  font-size: 25px;
  font-weight: 700;
  font-family: 'Open Sans';
}
.partner-name{
  font-size: 18px;
  font-weight: 700;
  font-family: 'Open Sans';
}
.partner-logo img {
  max-width: 100%;
  max-height: 80px;
  object-fit: contain;
}
.partner-logo:hover {
  transform: scale(1.05);
}
.partner-name {
  font-weight: 600;
  margin-top: 10px;
  color: #333;
}
/* ======= network Partners Part end ======= */

/* ======= news Part start ======= */
/* News part start */
#news_part{
  padding: 50px 0;
}
.news_header h4{
  font-size: 25px;
  font-weight: 700;
  font-family: 'Open Sans';
}
/* .inner_news_part{
  padding: 50px 0;
} */
.news-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.news_card {
	background: #fff;
	border-radius: 12px;
	box-shadow: 10px 6px 10px rgba(0, 0, 0, 0.1);
	width: 358.67px;
	overflow: hidden;
	transition: transform 0.3s;
}

.news_card:hover {
  transform: translateY(-5px);
}

.news_card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.news-content {
  padding: 15px;
}

.news_card h2 {
	color: #222;
	font-size: 20px;
	font-weight: 700;
	font-family: 'Open Sans';
	padding: 15px;
  text-align: center;
}

.news_card p {
  color: #222;
  font-size: 14px;
  font-weight: 400;
  font-family:  'Open Sans';
  text-align: center;
  /* line-height: 1.5; */
}

.pagination {
  text-align: center;
  margin-top: 40px;
}

.pagination a {
  display: inline-block;
  padding: 8px 14px;
  margin: 0 5px;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.2s;
}

.pagination a:hover {
  background-color: #007bff;
  color: white;
}

.pagination a.active {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

@media (max-width: 768px) {
  .card {
    width: 90%;
  }
}
/* News part end */
/* ======= news Part end ======= */



/* ======= News Details part start ======= */
.details_news_part{
  padding: 30px 0 50px 0;
}
.news-title {
  font-size: 2rem;
  font-weight: 700;
}
.news_inner h2{
  font-size: 20px;
  font-weight: 500;
  font-family:  'Open Sans';
}
.news-meta {
  font-size: 0.9rem;
  color: #6c757d;
}
.featured-image {
  max-height: 400px;
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
}
.news_sidebar {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}
.news_sidebar h5{
  color: #222;
  font-size: 20px;
  font-weight: 700;
  font-family:  'Open Sans';
}
.related-news a {
  display: block;
  padding: 8px 0;
  font-size: 14px;
  font-weight: 500;
  font-family:  'Open Sans';
  border-bottom: 1px solid #eee;
  color: #0d6efd;
  text-decoration: none;
}
.related-news a:hover {
  text-decoration: underline;
}

.news_inner{
  padding: 20px;
}
.news_inner h2{
  color: #222;
  font-size: 30px;
  font-weight: 700;
  font-family:  'Open Sans';
}
 .news_inner p{
  color: #222;
  font-size: 13px;
  font-weight: 400;
  font-family:  'Open Sans';
}
/* ======= News Details part end ======= */

/* ======= Publications part start ======= */
#fullpublication_part{
  padding: 50px 0;
}
.fullpublication_inner{
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.10);
  transition: transform 0.3s ease;
  padding: 20px;
}
.fullpub_header h4{
  color: #222;
  font-size: 20px;
  font-weight: 700;
  font-family:  'Open Sans';
  padding-bottom: 20px;
}
.fullpub_pag p{
  color: #222;
  font-size: 14px;
  font-weight: 400;
  font-family:  'Open Sans';
  text-align: justify;
}
/* ======= Publications part end ======= */


/* ======= Gallery part start ======= */
.gallery-img {
	max-height: 200px;
	max-width: 245px;
	object-fit: cover;
}
.gal_btn button {
  background-color: #31e749;
  color: #fff;
  margin-top: 10px;
}
.gal_btn{
  background-color: rgba(61, 3, 61, 0.067);
  border-radius: 5px;
}

.gallery_inner{
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.10);
  transition: transform 0.3s ease;
  padding: 40px;
  
}
.gallery_inner button{
  font-size: 20px;
  font-weight: 700;
  font-family:  'Open Sans';
}
.all_gallery-img{
  max-height: 206.717px;
      max-width: 375.5px;
      object-fit: cover;
}
/* ======= Gallery part end ======= */
/* Human Resources part start */
.human_part{
  padding-top: 50px;
}
.human_header h4{
  font-size: 25px;
  font-weight: 700;
  font-family:  'Open Sans';
}
.human_item{
  padding-bottom: 50px;
}
.human_inner {
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.10);
  transition: transform 0.3s ease;
  padding: 20px;
  text-align: justify;
}
.human_inner h4{
  /* color: #222; */
  font-size: 20px;
  font-weight: 700;
  font-family:  'Open Sans';
}
.human_inner p{
  color: #222;
  font-size: 14px;
  font-weight: 400;
  font-family:  'Open Sans';
}
.more-text {
  display: none;
}

.read-more-btn {
  background: none;
  border: none;
  color: #007BFF;
  font-weight: bold;
  padding: 0;
  margin-top: 10px;
  cursor: pointer;
}

.read-more-btn:hover {
  text-decoration: underline;
}
/* Human Resources part end */

/* Policy Documents part start */
.policy_header h4{
  font-size: 25px;
  font-weight: 700;
  font-family:  'Open Sans';
}
.policy-card {
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-left: 4px solid #0d6efd;
  border-radius: 8px;
  padding: 20px;
  height: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
  transition: transform 0.6s, box-shadow 0.6s;
}
.policy-card h5 {
  color: #f1f1f1;
  font-size: 20px;
  font-weight: 700;
  font-family:  'Open Sans';
  margin-bottom: 0.5rem;
}
.policy-card p {
  color: #f1f1f1;
  font-size: 14px;
  font-weight: 400;
  font-family:  'Open Sans';
  padding-bottom: 10px;
}
.btn-download {
  font-size: 0.875rem;
}
/* Base colors */
.blue { background-color: #0d6efd; }
.green { background-color: #198754; }
.purple { background-color: #6f42c1; }
.yellow { background-color: #ffc107; color: #333; }
.yellow .service-desc { color: #222; }
.red { background-color: #dc3545; }
.indigo { background-color: #6610f2; }

.bg-blue    { background-color: #007bff; }
.bg-green   { background-color: #28a745; }
.bg-orange  { background-color: #fd7e14; }
.bg-purple  { background-color: #6f42c1; }
.bg-pink    { background-color: #e83e8c; }
.bg-teal    { background-color: #20c997; }

.policy-card:hover {
  color: #ffd700;
  border-left-color: #ffd700;
  transform: translateX(5px);
}

/* Policy Documents part end */


/* About part start */
#about_part{
  padding: 50px 0;
}
.about_header h4{
  /* color: #222; */
  font-size: 25px;
  font-weight: 700;
  font-family:  'Open Sans';
}
.about_header img{
  width: 100px;
}
/* .about_inner img{
  float: left;
  margin-right: 20px;
}
.about_inner h4{
  color: #222;
  font-size: 20px;
  font-weight: 700;
  font-family:  'Open Sans';
}
.about_inner p{
  color: #222;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;;
} */
.about_item{
  padding-bottom: 50px;
  border: none;
  border-radius: 15px;
  box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.10);
  transition: transform 0.3s ease;
  padding: 20px;
  text-align: justify;
}

.human_inner h4{
  /* color: #222; */
  font-size: 20px;
  font-weight: 700;
  font-family:  'Open Sans';
}
.human_inner p{
  color: #222;
  font-size: 14px;
  font-weight: 400;
  font-family:  'Open Sans';
}
/* About part end */
/* Ed part end */

.ed_inner{
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}
.ed_nb h4{
  font-size: 16px;
  font-weight: 700;
  font-family:  'Open Sans';
}
.ed_nb p{
  color: #222;
  font-size: 13px;
  font-weight: 400;
  font-family:  'Open Sans';
}
.ed_inner h2{
  font-size: 20px;
  font-weight: 700;
  font-family:  'Open Sans';
}
.ed_inner p{
  font-size: 14px;
  font-weight: 400;
  font-family:  'Open Sans';
  padding-bottom: 10px;
}
.ed_inner strong{
  font-size: 14px;
  font-weight: 700;
  font-family:  'Open Sans';
}
/* Ed part end */

